/* Navbar CSS */

.logo-container{
  width: 10%;
  height: 4rem;
  background-image: url("https://www.shutterstock.com/image-vector/vinnytsia-ukraine-june-23-2023-600nw-2321769253.jpg");
  background-size: cover;
  background-position: center;
}

.link{
  color: red;
  text-decoration: none;
  /* border-radius: 10px; */
  font-size: 1.2rem;
}

.active{
  font-weight: 700;
  color: black;
  border-bottom: 2px solid #ed5858;
}

/* Filter Component CSS */

.filter-container{
  border-bottom: 1px solid rgb(215, 214, 214);
  border-top: 1px solid rgb(215, 214, 214);
  padding: 0.7% 0;
}

.icon-btn{
  padding: 0.3% 0.2% 0.2% 0.2%;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgb(215, 214, 214);
}

/* Home Page CSS */

.thumbnail-img {
  width: 100%;
  aspect-ratio: 16/9;
}

.night-txt {
  font-weight: 500;
  color: gray;
  font-style: normal;
}

.img-box {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

.fav-icon-container {
  padding: 2%;
  background-color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Details Image CSS */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #ffffff;
  color: #fff;
  border-radius: 15px;
  font-size: 150%;
  background-size: cover;
  background-position: center;
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.d {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1.5fr 1fr;
  /* Adjusted widths */
  grid-auto-rows: minmax(15rem, auto);
  /* Adjusted rows */
}

.e {
  grid-row: span 2;
  /* Spans 2 rows */
}

.f {
  grid-column: 2;
}

.g {
  grid-column: 2;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(183, 182, 182);
  margin-top: 2rem;
}

.right-container-one {
  border: 1px solid rgb(188, 187, 187);
  background-color: hwb(0deg 97.29% 2.71%);
  padding: 4%;
  border-radius: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.close-icon-container {
  padding: 0.6%;
  background-color: white;
  position: fixed;
  left: 31%;
  cursor: pointer;
  top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-container{
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* MUI CSS */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  width: 65% !important;
}
